# Dependencies
node_modules
.pnpm-store

# Production Builds & Output
dist
dist-ssr
build
*.local

# Environment & Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Database & SQLite Storage
*.db
*.sqlite
*.sqlite-journal
*.sqlite3

# IDE & Editor Files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode/*
!.vscode/extensions.json
.idea

# Temporary & Cache Directories
.cache
.vite
.tmp
*.zip
